<%# Write your code here! %>
<h1 style="border-bottom: 5px solid pink;">Welcome!</h1>

<form action="/greet" method="POST">
  <!-- <textarea id="user_name" name="user_name" /> -->
   <input type="text" name="user_name" value="user_name">
  <input type="submit" name="click_button" value="Submit" />
</form>
